<!--TEST 1: A mettre dans la page de chat socket-->

<!--SOCKETS-->
<!--<style>-->
<!--#chat {-->
<!--height: 500px-->
<!--}-->

<!--#contentWrap {-->
<!--display: none;-->
<!--}-->

<!--#chatWrap {-->
<!--float: left;-->
<!--border: 1px black solid;-->
<!--}-->

<!--.error {-->
<!--color: red;-->
<!--}-->

<!--.whisper{-->
<!--color: grey;-->
<!--font-style: italic;-->
<!--}-->
<!--</style>-->

<!--TEST 1 PRIVATE MESSAGING - MAIS DISPLAY OLD MESSAGES DE TOUS LES USERS-->
<!--<div id="nickWrap">-->
<!--<p>Enter a username:</p>-->
<!--<p id="nickError"></p>-->
<!--<form id="setNick">-->
<!--<input size="35" id="nickname" />-->
<!--<input type="submit" />-->
<!--</form>-->
<!--</div>-->

<!--<div id="contentWrap">-->
<!--<div id="chatWrap">-->
<!--<div id="chat"></div>-->
<!--<form id="send-message">-->
<!--<input size="35" id="message" />-->
<!--<input type="submit"/>-->
<!--</form>-->
<!--</div>-->
<!--<div id="users"></div>-->
<!--</div>-->


<script>

    // TEST 1 PRIVATE MESSAGING - MAIS DISPLAY OLD MESSAGES DE TOUS LES USERS
    // jQuery(function($) {
    //     var socket = io.connect();
    //     console.log("socket connected");
    //
    //     var $nickForm = $('#setNick');
    //     var $nickError = $('#nickError');
    //     var $nickBox = $('#nickname');
    //     var $users = $('#users');
    //
    //     var $messageForm = $('#send-message');
    //     var $messageBox = $('#message');
    //     var $chat = $('#chat');
    //
    //     $nickForm.submit(function (e) {
    //         e.preventDefault();
    //         socket.emit('new-user', $nickBox.val(), function (data) {
    //             if (data) {
    //                 $('#nickWrap').hide();
    //                 $('#contentWrap').show();
    //             } else {
    //                 $nickError.html('This username is already taken');
    //             }
    //         });
    //         $nickBox.val('');
    //     });
    //
    //     socket.on('usernames', function (data) {
    //         var html = '';
    //         for (var i = 0; i < data.length; i++) {
    //             html += data[i] + '</br>'
    //         }
    //         $users.html(html);
    //     });
    //
    //     $messageForm.submit(function (e) {
    //         e.preventDefault();
    //         socket.emit('send-message', $messageBox.val(), function (data) {
    //             $chat.append('<span class="error">' + data + "</span></br>");
    //         });
    //         $messageBox.val('');
    //     });
    //
    //     socket.on('load-old-messages', function (docs) {
    //         for (var i = 0; i < docs.length; i++) {
    //             displayMsg(docs[i]);
    //         }
    //     })
    //
    //     socket.on('new-message', function (data) {
    //         displayMsg(data);
    //     })
    //
    //     function displayMsg(data) {
    //         $chat.append('<span class="msg"><b>' + data.nick + ": </b>" + data.msg + "</span></br>");
    //     }
    //
    //     socket.on('whisper', function (data) {
    //         $chat.append('<span class="whisper"><b>' + data.nick + ": </b>" + data.msg + "</span></br>");
    //     })
    // });
</script>