/* Search Page */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: rgb(238, 162, 162);
	margin-bottom: 20px;	
}

.nav-pills .nav-link {
	margin-bottom: 20px;
}

a {
	color: rgba(0,0,0,.5);
}

a:hover {
	color: rgba(0,0,0,.8);
}

.search-nav {
	background:rgb(254, 224, 224);
	top : 75px;
    border-bottom: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(37, 37, 37, 0.2);
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 40%;
    margin: auto;
}

@media screen and (max-width: 640px) {
    .search-nav{
        width: 100%;
    }
  }

.scroll {
    margin-top: 100px;
    flex-wrap: wrap;
    display: inline-flex;
    max-width: none !important;
    position: relative;
}

.popularity-search-1 {
    background-color:  rgb(238, 162, 162);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
	margin-top: -10px;
	margin-left: 60px;
}

.popularity-search-1:hover {
    background-color:  rgb(238, 162, 162);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.popularity-search-2 {
    background-color: rgb(250, 94, 154);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
	margin-top: -10px;
	margin-left: 60px;

}

.popularity-search-2:hover {
    background-color: rgb(250, 94, 154);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.popularity-search-3 {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
	margin-top: -10px;
	margin-left: 60px;
}

.popularity-search-3:hover {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.popularity-search-4 {
    background-color:  rgb(179, 179, 179);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
	margin-top: -10px;
	margin-left: 60px;
}

.popularity-search-4:hover {
    background-color:  rgb(179, 179, 179);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.popularity-search-5 {
    background-color: rgb(132, 132, 132);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
	margin-top: -10px;
	margin-left: 60px;

}

.popularity-search-5:hover {
    background-color: rgb(132, 132, 132);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.popularity-search-6 {
    background-color: rgb(99, 99, 99);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
	margin-top: -10px;
	margin-left: 60px;
}

.popularity-search-6:hover {
    background-color: rgb(99, 99, 99);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.liked {
    border:none;
    display: flex;
    margin: 4px 4px 4px 0px;
    font-size: 1.5rem;
    color : rgb(255, 0, 100);
}

.matched {
    border:none;
    display: flex;
    margin: 4px 4px 4px 0px;
    font-size: 1.5rem;
    color : rgb(255, 0, 100);
}

.picto {
    margin: 4px 4px 4px 0px;
}

.search-pic {
    display: flex;
	position: relative;
	width:100%;
	height: 100%;
	object-fit: cover;
}

.containerPic {
	height: 200px;
	width: 200px;
}

.img-pop {
    display: flex;
    justify-content : center
}

.search-col {
    padding: 40px;
    max-width: 350px;
    margin: auto;
}

.desc-search {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#likes{
    display: inline-flex;
}

.filter-search {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: default;
}

.filter-search:hover {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: auto;
}

.filter-search:active{
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: auto;
}

.btn.btn-primary:active {
    color: pink;
    background-color: rgb(255, 0, 100) !important;
    border:none;
    cursor: auto;
}

.slider .slider-handle.round {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(233, 236, 239)), to(rgb(206, 212, 218)));;
}

.slider .slider-selection {
	background: rgb(233, 236, 239);
}

.slider:hover .tooltip.tooltip-main {
        opacity: 1 !important;
}

#response {
    float: left;
    list-style: none;
    padding: 0;
    border: 1px solid silver;
    margin-top: 0;
    background: white;
    z-index: 5;
}

#searchBox, #response, #searchTag {
    width: 250px;
    outline: 0;
}

li.searchLi {
    padding-left: 5px;
}

li:hover.searchLi{
    color: silver;
    cursor: pointer;
    background: #0088cc;
}

#accessProfil {
    margin-left: 5px;
}