html {
    position: relative;
    min-height: 100%;
}

html,
body {
    height: 100%;
    margin-bottom: 60px;

}

body {
    display: -ms-flexbox;
    /* display: flex; */
    -ms-flex-align: center;
    align-items: center;
    /* padding-top: 40px; */
    padding-bottom: 40px;
    background-color: rgba(255, 100, 100, 0.2);
}

.container {
    padding-top: 40px;
}

.nav {
    display: inline;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-control {
    font-size: 0.8rem;
    padding: 0.375rem 2rem;
}

.form-group {
    font-size: 0.9rem;
}

/* Home Page -- Not logged CSS starts */
.auth-page{
    height: 100%;
}

.auth-container {
    padding-top: 5%;
    margin: auto;
    text-align: center;
}
.auth{
    background: #ffffff;
    max-width: 50%;
    min-width: 320px;
    margin: auto;
    padding: 2%;
    border-radius: 5px;
    border: solid 1px #0000003d;
}

.auth-header-btn{
    width: 49%;
}

.login,
.register {
    padding: 1.5%;
}

#login-tab, #register-tab, .login-btn, .register-btn {
    background-color: rgb(255, 100, 100);
    color: #fff;
    cursor: pointer;
}

#login-tab.active, #register-tab.active{
    box-shadow:inset 0 0 0 3px rgb(255, 0, 100);
}
.display-register {
    display: flex;
    justify-content: center;
}

.display-register .form-group {
    padding: 6px;
}

.forgot-password{
    text-decoration: underline;
    color: #888;
    font-size: 12px;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

p {
    margin: 2px 0 0 0;
}

/* Home Page -- Not logged CSS ends */

/* Profile Page */

.hashtag{
    /* box-shadow:inset 0 0 0 3px rgb(255, 0, 100); */
    background-color: rgb(238, 162, 162);
    color: #fff;
    /* cursor: pointer; */
    border: rgb(255, 100, 100);
    margin-bottom: 20px;
}

.hashtag:hover{
    background-color: rgb(238, 162, 162);
    cursor: pointer;
    border-color: rgb(255, 0, 100);
    margin-bottom: 20px;
}

.profile-pic {
    padding: 0 20px 20px 0;
}

.description{
    padding: 20px 0 20px 0;
}

.carroussel{
    padding: 0px;
    border: none;
    /* max-height: 200px; */
    /* max-width: 200px; */
}

.btn:not(:disabled):not(.disabled) .popularity {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: default;
}

.popularity {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: default;
}

.popularity:hover {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: auto;
}

/* Search Page */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: rgb(238, 162, 162);
	margin-bottom: 20px;	
}

.nav-pills .nav-link {
	margin-bottom: 20px;
}

a {
	color: rgba(0,0,0,.5);
}

a:hover {
	color: rgba(0,0,0,.8);
}

.popularity-search-1 {
    background-color:  rgb(238, 162, 162);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
    margin: 210px 0 0 85px;
    position : right;
}

.popularity-search-1:hover {
    background-color:  rgb(238, 162, 162);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.popularity-search-2 {
    background-color: rgb(250, 94, 154);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
    margin: 210px 0 0 85px;
    position : right;
}

.popularity-search-2:hover {
    background-color: rgb(250, 94, 154);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.popularity-search-3 {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: default;
    display: flex;
    position: absolute;
    margin: 210px 0 0 85px;
    position : right;
}

.popularity-search-3:hover {
    background-color: rgb(255, 0, 100);
    border:none;
    cursor: auto;
    display: flex;
    position : right;
}

.liked {
    border:none;
    display: flex;
    position: absolute;
    margin: 215px 0 0 40px;
    font-size: 1.5rem;
    color : rgb(254, 224, 224);
}

.matched {
    border:none;
    display: flex;
    position: absolute;
    margin: 215px 0 0 40px;
    font-size: 1.5rem;
    color : rgb(255, 0, 100);
}
.search-pic {
    display: flex;
    position: relative;
}

.img-pop {
    display: flex;
    justify-content : center
}

.search-col {
    padding: 30px;
}