</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/search.js"></script>

<!--<script src="/socket.io/socket.io.js"></script>-->

<script>
    // const presence = document.getElementById('presence');
    // let addUser = (user) => {
    //     let li = document.createElement('li');
    //     li.id = 'user' + user.id;
    //     li.innerText = user.username;
    //     presence.appendChild(li);
    // }
    //
    // if (presence) {
    //     var socket = io.connect('http://localhost:3000');
        // socket.on('connect', () => {
        //     socket.on('message', function (data) {
        //         document.write(data);
        //     })
            // socket.emit('identify', {
            //     token: presence.dataset.token
            // })
        // });
    //
    //     socket.on('users.new', ({user}) => {
    //         addUser(user);
    //     });
    //
    //     socket.on('users.leave', ({user}) => {
    //         presence.removeChild(document.querySelector('#user' + user.id));
    //     });
    //
    //     socket.on('users', ({users}) => {
    //         for (var x = 0; x<users.length; x++) {
    //             addUser(users[x]);
    //         }
    //     });
    // }
</script>

</body>
<footer></footer>
</html>