</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/search.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script>

    let socket = io('http://localhost:3000');
    socket.on('connect', () => {
        socket.emit('identify', {
            token: document.getElementById('token').dataset.token
        });
    });

    var checkOnline = document.querySelector('#checkOnline');
    var chatOnline = document.querySelector('#chatOnline');
    var histoOnline = document.querySelector('.histoOnline');
    var searchOnline = document.querySelector('#searchOnline');

    var userDetails = document.querySelector('#userDetails');
    var userOnline = document.querySelector('#userDetails .fa-circle');
    var userOffline = document.querySelector('.lastConnected');

    const onlineUserPage = (user) => {
         if (userOffline) {
             userOffline.remove();
         }
        if (userOnline === null) {
            const i = document.createElement('i');
            i.setAttribute('class', 'fas fa-circle fa-xs');
            i.setAttribute('style', 'color: green;');
            userDetails.prepend(i);
        }
        userOffline = document.querySelector('.lastConnected');
        userOnline = document.querySelector('#userDetails .fa-circle');
    }
    const offlineUserPage = (user) => {
        if (userOnline) {
            userOnline.remove();
        }
        const p = document.createElement('p');
        p.setAttribute('class', 'lastConnected');
        p.setAttribute('style', 'margin-bottom: 10px; padding: 0; font-size: 12px;');
        const options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
        p.innerText = 'dernière connexion le : ' + new Date().toLocaleDateString('fr-FR', options);
        checkOnline.appendChild(p);
        userOnline = document.querySelector('#userDetails .fa-circle');
        userOffline = document.querySelector('.lastConnected');
    }
    if (checkOnline){
        socket.on('users.new', ({user}) => {
            onlineUserPage(user);
        });

        socket.on('users.leave', ({user}) => {
            offlineUserPage(user);
        })
    }

    const onlineChatPage = (user) => {
        if (document.querySelector('#chatOnline .user' + user.id).style.color === 'red') {
            document.querySelector('#chatOnline .user' + user.id).setAttribute('style', 'color: green;');
        }
    }
    const offlineChatPage = (user) => {
        if (document.querySelector('#chatOnline .user' + user.id).style.color === 'green') {
            document.querySelector('#chatOnline .user' + user.id).setAttribute('style', 'color: red;');
        }
    }
    if (chatOnline) {
        socket.on('users.new', ({user}) => {
            onlineChatPage(user);
        });

        socket.on('users.leave', ({user}) => {
            offlineChatPage(user);
        })
    }

    const onlineHistoPage = (user) => {
        if (document.querySelector('.histoOnline .user' + user.id).style.color === 'red') {
            document.querySelector('.histoOnline .user' + user.id).setAttribute('style', 'color: green;');
        }
    }
    const offlineHistoPage = (user) => {
        if (document.querySelector('.histoOnline .user' + user.id).style.color === 'green') {
            document.querySelector('.histoOnline .user' + user.id).setAttribute('style', 'color: red;');
        }
    }
    if (histoOnline) {
        socket.on('users.new', ({user}) => {
            onlineHistoPage(user);
        });

        socket.on('users.leave', ({user}) => {
            offlineHistoPage(user);
        })
    }

    const onlineSearchPage = (user) => {
        if (document.querySelector('#searchOnline .user' + user.id).style.color === 'red') {
            document.querySelector('#searchOnline .user' + user.id).setAttribute('style', 'color: green;');
        }
    }
    const offlineSearchPage = (user) => {
        if (document.querySelector('#searchOnline .user' + user.id).style.color === 'green') {
            document.querySelector('#searchOnline .user' + user.id).setAttribute('style', 'color: red;');
        }
    }
    if (searchOnline) {
        socket.on('users.new', ({user}) => {
            onlineSearchPage(user);
        });

        socket.on('users.leave', ({user}) => {
            offlineSearchPage(user);
        })
    }

</script>

</body>
<footer></footer>
</html>