<header class="header">
    <div id="token" data-token="<%=token%>"></div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
        <a class="navbar-brand" href="/search">
            <img src="../img/logo.png" width="50" height="50" class="d-inline-block align-center" alt="">
            RoooCoooL
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/profil">Profil <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/search">Recherche</a>
                <a class="nav-item nav-link" href="/maps">Carte</a>
                <a class="nav-item nav-link" id="headerMsg" href="/chat"></a>
                <a class="nav-item nav-link" href="/history">Historique</a>
                <a class="nav-item nav-link" id="headerNotif" onclick="readNotif(user.id)" href="/notifications"></a>
                <a class="nav-item nav-link" href="/logout"><i class="fas fa-power-off"></i></a>
                <a class="nav-item nav-link" href="#" onclick="openSearch()" id="searchIcon"><i class="fas fa-search"></i></a>
            </div>
		</div>
    </nav>
</header>

<body>
    <div class='container' id="container">