<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="../pages/home.html">
            <img src="../img/logo.png" width="50" height="50" class="d-inline-block align-center" alt="">
            RoooCoooL
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/profil">Profil <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Messagerie</a>
                <a class="nav-item nav-link" href="#">Favoris</a>
                <a class="nav-item nav-link" href="#">Notifications <i class="fas fa-bell"></i></a>
                <a class="nav-item nav-link" href="/logout"><i class="fas fa-power-off"></i></a>
            </div>
        </div>
    </nav>
</header>

<body>
    <div class='container'>