<header class="header">
    <div id="token" data-token="<%=token%>"></div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
        <a class="navbar-brand" href="/user/2">
            <img src="../img/logo.png" width="50" height="50" class="d-inline-block align-center" alt="">
            RoooCoooL
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/profil">Profil <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/search">Recherche</a>
                <a class="nav-item nav-link" href="/chat">Messagerie</a>
                <a class="nav-item nav-link" href="/history">Historique</a>


                <!-- NOTIFICATIONS -->
                <div class="dropdown nav-button notifications-button hidden-sm-down">
                    <a class="btn dropdown-toggle" href="#" id="notifications-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i id="notificationsIcon" class="fa fa-bell-o" aria-hidden="true"></i>
                        <span id="notificationsBadge" class="badge badge-danger"><i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i></span>
                    </a>
                    <div class="dropdown-menu notification-dropdown-menu" aria-labelledby="notifications-dropdown">
                        <h6 class="dropdown-header">Notifications</h6>
                        <!-- CHARGEMENT -->
                        <a id="notificationsLoader" class="dropdown-item dropdown-notification" href="#">
                            <p class="notification-solo text-center"><i id="notificationsIcon" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i> Chargement des dernières notifications...</p>
                        </a>
                        <div id="notificationsContainer" class="notifications-container"></div>
                        <!-- AUCUNE NOTIFICATION -->
                        <a id="notificationAucune" class="dropdown-item dropdown-notification" href="#">
                            <p class="notification-solo text-center">Aucune nouvelle notification</p>
                        </a>
                        <!-- TOUTES -->
                        <a class="dropdown-item dropdown-notification-all" href="#">
                            Voir toutes les notifications
                        </a>
                    </div>
                </div>

                <!--<a class="nav-item nav-link" href="#">Notifications <i class="fas fa-bell"></i></a>-->
                <a class="nav-item nav-link" href="/logout"><i class="fas fa-power-off"></i></a>
                <a class="nav-item nav-link" href="#" onclick="openSearch()" id="searchIcon"><i class="fas fa-search"></i></a>
            </div>
		</div>
    </nav>
</header>

<body>
    <div class='container' id="container">