<%- include('../partial/head')%>

<div id="container" class="container">
    <div class="pageErrors">
        <img src="/public/img/notFound.png" />
        <h2>Ah... Vous avez tout cassé...</h2>
    </div>
</div>