<% include ../partial/head.ejs%>
<% include ../partial/header.ejs%>

<h1>COUCOU, TU ES BIEN CONNECTE <%=username%></h1>
<h2>Ton mot de passe est bien <%=password%></h2>
<%- messages('partial/message', locals) %>
