<%- include('../partial/head')%>

<div id="container" class="container">
    <div class="pageNotfound">
        <img src="/public/img/notFound.png" />
        <h2>Oups... vous essayez d'accéder à une page qui n'existe pas</h2>
    </div>
</div>

