<%- include('../partial/head')%>
<%- include('../partial/header')%>

<div class="media">
    <img src="https://i.pinimg.com/originals/ee/12/72/ee1272ce146c4c5c5e5c30163a20302d.jpg" alt="Stephanie De Monaco" class="rounded float-left profile-pic">
    <div class="media-body">
		<button type="button" class="btn btn-primary popularity">
			Popularité <span class="badge badge-light">93%</span>
	  </button>
		<h2 class="mt-0">Stephanie De Monaco</h2>
        <div class="row">
            <div class="col-sm">
                Femme, Bisexuelle
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				18 ans
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				À 7km
			</div>
		</div>
		<div class="description">
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		</div>

		<a class="btn btn-primary hashtag" href="#" role="button">#chatons</a>
		<a class="btn btn-primary hashtag" href="#" role="button">#42</a>
		<a class="btn btn-primary hashtag" href="#" role="button">#footballamericain</a>
		<a class="btn btn-primary hashtag" href="#" role="button">#dalida</a>		

	</div>
</div>	

<div class="row">
		<div class="col-sm">
			<img src="http://www.journeedelafemme.com/wp-content/uploads/2018/05/pexels-photo-733872.jpeg" class="img-thumbnail carroussel" alt="...">
		</div>
		<div class="col-sm">
			<img src="https://www.cadre-dirigeant-magazine.com/wp-content/uploads/2016/02/Femme-m%C3%A8re-et-manager-6-astuces-pour-gagner-en-s%C3%A9r%C3%A9nit%C3%A9CDM.jpg" class="img-thumbnail carroussel" alt="...">
		</div>
		<div class="col-sm">
				<img src="http://www.journeedelafemme.com/wp-content/uploads/2018/05/pexels-photo-733872.jpeg" class="img-thumbnail carroussel" alt="...">
			</div>
		<div class="col-sm">
				<img src="https://www.cadre-dirigeant-magazine.com/wp-content/uploads/2016/02/Femme-m%C3%A8re-et-manager-6-astuces-pour-gagner-en-s%C3%A9r%C3%A9nit%C3%A9CDM.jpg" class="img-thumbnail carroussel" alt="...">
		</div>

</div>




<% include ../partial/footer.ejs%>
