<p>You have been registered to our Website</p>
<h3>Contact Details</h3>
<ul>
    <li>FirstName: ${firstname}</li>
    <li>LastName: <%firstname%></li>
    <li>Email: <%=firstname%></li>
    <li>Username: <%-firstname%></li>
    <li>Username: {{firstname}}</li>
</ul>
<h3>Link to confirm</h3>
<p><a href="http://localhost:3000/verify/register/${registerToken}">Verify your account</a></p>