<h1>Coucou, je veux reset mon Mot de Passe</h1>

<form method="post" action="/verify/reset/:resetToken">
    <div class="form-group">
        <div class="display-register">
            <div class="form-group">
                <h5>Ré-initialisation de votre mot de passe</h5>
                <input type="hidden" name="resetToken" value="<%=resetToken%>">
                <label for="modifyPassword">Nouveau mot de passe</label>
                <input type="password" class="form-control" id="modifyPassword" name="modifyPassword" placeholder="Nouveau mot de passe">
                <br>
                <label for="modifyPasswordConfirm">Confirmation du nouveau mot de passe</label>
                <input type="password" class="form-control" id="modifyPasswordConfirm" name="modifyPasswordConfirm" placeholder="Confirmation mot de passe">
                <button type="submit">Confirmer</button>
            </div>
        </div>
    </div>
</form>