<%- include('../partial/head')%>
<%- include('../partial/header')%>

<div class="container">

<% if (users != "") { %>

	<% for (var offset=0; offset<users.length; offset+=3){ %>

	<div class="row">
	<% 
	for (i=0; i<3; i++){ %>
			<div class="col-sm">
				<%=users[i]['username']%>
			</div>
	<% } %>

	
	</div>

<% }} %>

</div>

<% include ../partial/footer.ejs%>