<%- include('../partial/head')%>
<%- include('../partial/header')%>

<div class="scroll">

<div class="row">
	<% for (var x=0; x<3; x++){
		if (users[x]){%>
		<div class="col-sm">
			<%=users[x]['username']%>
		</div>
	<%}} %>
</div>


</div>


<p id="loading" style="display:none">
		<img style="width:40px; margin-left:50%" src="https://ubisafe.org/images/transparent-gif-loading-1.gif" alt="Loading…" />
</p>





<script>
	var i=3;

	$(document).ready(function() {
		var win = $(window);
		win.scroll(function() {
			if ($(document).height() - win.height() == win.scrollTop()) {
				$('#loading').show();	
				$.ajax({
					method: "GET",
					data: {
						index:i
					},
					url: 'search-infinite',
					success: function(html) {
						$('.scroll').append(html);
						$('#loading').hide();
					},
					error: function() {
						$('#loading').hide();
					}
				});
				i=i+3;
			}
		});
	});
</script>
		




<% include ../partial/footer.ejs%>