<%- include('../partial/head')%>
<%- include('../partial/header')%>

<ul id="posts">
	<li>
		<article>
            kikou
        </article>
</li>

...
    
</ul>



<script>
$(document).ready(function() {

        var win = $(window);
        
        // Each time the user scrolls
        win.scroll(function() {
            // End of the document reached?
            if ($(document).height() - win.height() == win.scrollTop()) {
			// $('#loading').show();
                alert("scroll");
			$.ajax({
				url: 'get-post.php',
				dataType: 'html',
				success: function(html) {
					$('#posts').append(html);
					$('#loading').hide();
				}
			});
		}
	});
});
</script>


<% include ../partial/footer.ejs%>