<%- include('../partial/head')%>
<%- include('../partial/header')%>

<%- messages('partial/message', locals) %>

<p>
    Enter some tags:
</p>

<p>
    <div class="tags-input" data-name="tags-input">
    <span class="tag">CSS<span class="close"></span></span>
    <span class="tag">JavaScript<span class="close"></span></span>
    <span class="tag">HTML<span class="close"></span></span>
</div>
</span>

<%- include('../partial/footer')%>