<%- include('../partial/head')%>
<%- include('../partial/header')%>
<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </head>


<ul id="posts">
	<li>
		<article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla quam vitae arcu dignissim, ut mattis eros ultricies. Donec condimentum metus eu lorem semper aliquam. Maecenas justo ante, tincidunt et risus ac, facilisis auctor leo. In hac habitasse platea dictumst. Sed quis leo quis tortor hendrerit ultrices pulvinar ac massa. Ut rhoncus placerat erat non ultricies. Aenean quis fringilla risus. Vivamus cursus finibus mauris ut mattis. Sed at rutrum ipsum. Nam scelerisque sapien urna, in laoreet risus dapibus eget.

            Donec eu tempus libero. Donec ac condimentum nisi. Nunc pulvinar in nulla quis mattis. Quisque pharetra nisl eleifend velit suscipit, quis auctor massa blandit. Phasellus lorem est, interdum at lectus in, tincidunt tempus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eget massa at turpis accumsan dictum vitae sit amet nibh. Pellentesque erat nisi, feugiat eu felis a, sollicitudin interdum urna. Cras quis felis vel purus egestas ullamcorper eget at tellus.
            
            Suspendisse tempor sapien nec justo commodo dapibus. Etiam sed sagittis elit. Curabitur felis mi, consequat tincidunt leo consectetur, cursus accumsan justo. Morbi cursus purus ligula, nec maximus mauris placerat ac. Duis vitae diam in diam dignissim molestie. Vivamus luctus magna at laoreet tempor. Nunc orci neque, malesuada lacinia aliquet quis, pharetra at ligula. Phasellus mollis sem ipsum, id luctus magna efficitur et. Vestibulum mollis placerat lectus in blandit. Ut a sem nibh. Vivamus sagittis diam augue. In ut pretium felis. Proin pharetra tempus viverra. Integer fermentum nisl eu eros tempor, eget facilisis turpis porta. Proin non justo molestie, mollis nisl non, lobortis velit. Etiam ut est tincidunt massa malesuada auctor id at enim.
            
            Aliquam consequat odio ac suscipit maximus. Praesent a purus ut mauris dictum venenatis ac non risus. Ut gravida velit vulputate sem vulputate facilisis. Nam velit leo, placerat non mi vitae, egestas varius sem. Suspendisse eget magna ut risus aliquet pulvinar. Curabitur est massa, tempor sit amet pulvinar in, feugiat eu dolor. Phasellus lectus purus, suscipit id purus sit amet, tempus bibendum neque.
            
            Sed ipsum nulla, placerat at volutpat sit amet, molestie sit amet leo. Sed dolor dui, dictum eget congue vitae, ullamcorper tempus felis. Suspendisse potenti. Vivamus sollicitudin lectus elit, id aliquam ante aliquet vitae. Nam vitae ex nibh. Nulla id nisi vel felis tincidunt euismod. Vestibulum auctor urna odio, eget faucibus urna commodo non. Pellentesque id hendrerit nisi. Aliquam gravida non nisl a ornare. Donec iaculis, est ut luctus venenatis, lorem odio laoreet magna, vitae molestie est elit sed arcu. Vestibulum volutpat porta elit, a mattis ante dapibus quis. Morbi sed odio arcu. Ut odio felis, facilisis vel mollis in, euismod ultrices elit. Aliquam eget porttitor felis. Cras finibus mollis arcu ut sollicitudin. Nullam facilisis facilisis pharetra.
        
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla quam vitae arcu dignissim, ut mattis eros ultricies. Donec condimentum metus eu lorem semper aliquam. Maecenas justo ante, tincidunt et risus ac, facilisis auctor leo. In hac habitasse platea dictumst. Sed quis leo quis tortor hendrerit ultrices pulvinar ac massa. Ut rhoncus placerat erat non ultricies. Aenean quis fringilla risus. Vivamus cursus finibus mauris ut mattis. Sed at rutrum ipsum. Nam scelerisque sapien urna, in laoreet risus dapibus eget.

            Donec eu tempus libero. Donec ac condimentum nisi. Nunc pulvinar in nulla quis mattis. Quisque pharetra nisl eleifend velit suscipit, quis auctor massa blandit. Phasellus lorem est, interdum at lectus in, tincidunt tempus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eget massa at turpis accumsan dictum vitae sit amet nibh. Pellentesque erat nisi, feugiat eu felis a, sollicitudin interdum urna. Cras quis felis vel purus egestas ullamcorper eget at tellus.
            
            Suspendisse tempor sapien nec justo commodo dapibus. Etiam sed sagittis elit. Curabitur felis mi, consequat tincidunt leo consectetur, cursus accumsan justo. Morbi cursus purus ligula, nec maximus mauris placerat ac. Duis vitae diam in diam dignissim molestie. Vivamus luctus magna at laoreet tempor. Nunc orci neque, malesuada lacinia aliquet quis, pharetra at ligula. Phasellus mollis sem ipsum, id luctus magna efficitur et. Vestibulum mollis placerat lectus in blandit. Ut a sem nibh. Vivamus sagittis diam augue. In ut pretium felis. Proin pharetra tempus viverra. Integer fermentum nisl eu eros tempor, eget facilisis turpis porta. Proin non justo molestie, mollis nisl non, lobortis velit. Etiam ut est tincidunt massa malesuada auctor id at enim.
            
            Aliquam consequat odio ac suscipit maximus. Praesent a purus ut mauris dictum venenatis ac non risus. Ut gravida velit vulputate sem vulputate facilisis. Nam velit leo, placerat non mi vitae, egestas varius sem. Suspendisse eget magna ut risus aliquet pulvinar. Curabitur est massa, tempor sit amet pulvinar in, feugiat eu dolor. Phasellus lectus purus, suscipit id purus sit amet, tempus bibendum neque.
            
            Sed ipsum nulla, placerat at volutpat sit amet, molestie sit amet leo. Sed dolor dui, dictum eget congue vitae, ullamcorper tempus felis. Suspendisse potenti. Vivamus sollicitudin lectus elit, id aliquam ante aliquet vitae. Nam vitae ex nibh. Nulla id nisi vel felis tincidunt euismod. Vestibulum auctor urna odio, eget faucibus urna commodo non. Pellentesque id hendrerit nisi. Aliquam gravida non nisl a ornare. Donec iaculis, est ut luctus venenatis, lorem odio laoreet magna, vitae molestie est elit sed arcu. Vestibulum volutpat porta elit, a mattis ante dapibus quis. Morbi sed odio arcu. Ut odio felis, facilisis vel mollis in, euismod ultrices elit. Aliquam eget porttitor felis. Cras finibus mollis arcu ut sollicitudin. Nullam facilisis facilisis pharetra.</article>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla quam vitae arcu dignissim, ut mattis eros ultricies. Donec condimentum metus eu lorem semper aliquam. Maecenas justo ante, tincidunt et risus ac, facilisis auctor leo. In hac habitasse platea dictumst. Sed quis leo quis tortor hendrerit ultrices pulvinar ac massa. Ut rhoncus placerat erat non ultricies. Aenean quis fringilla risus. Vivamus cursus finibus mauris ut mattis. Sed at rutrum ipsum. Nam scelerisque sapien urna, in laoreet risus dapibus eget.

            Donec eu tempus libero. Donec ac condimentum nisi. Nunc pulvinar in nulla quis mattis. Quisque pharetra nisl eleifend velit suscipit, quis auctor massa blandit. Phasellus lorem est, interdum at lectus in, tincidunt tempus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris eget massa at turpis accumsan dictum vitae sit amet nibh. Pellentesque erat nisi, feugiat eu felis a, sollicitudin interdum urna. Cras quis felis vel purus egestas ullamcorper eget at tellus.
            
            Suspendisse tempor sapien nec justo commodo dapibus. Etiam sed sagittis elit. Curabitur felis mi, consequat tincidunt leo consectetur, cursus accumsan justo. Morbi cursus purus ligula, nec maximus mauris placerat ac. Duis vitae diam in diam dignissim molestie. Vivamus luctus magna at laoreet tempor. Nunc orci neque, malesuada lacinia aliquet quis, pharetra at ligula. Phasellus mollis sem ipsum, id luctus magna efficitur et. Vestibulum mollis placerat lectus in blandit. Ut a sem nibh. Vivamus sagittis diam augue. In ut pretium felis. Proin pharetra tempus viverra. Integer fermentum nisl eu eros tempor, eget facilisis turpis porta. Proin non justo molestie, mollis nisl non, lobortis velit. Etiam ut est tincidunt massa malesuada auctor id at enim.
            
            Aliquam consequat odio ac suscipit maximus. Praesent a purus ut mauris dictum venenatis ac non risus. Ut gravida velit vulputate sem vulputate facilisis. Nam velit leo, placerat non mi vitae, egestas varius sem. Suspendisse eget magna ut risus aliquet pulvinar. Curabitur est massa, tempor sit amet pulvinar in, feugiat eu dolor. Phasellus lectus purus, suscipit id purus sit amet, tempus bibendum neque.
            
            Sed ipsum nulla, placerat at volutpat sit amet, molestie sit amet leo. Sed dolor dui, dictum eget congue vitae, ullamcorper tempus felis. Suspendisse potenti. Vivamus sollicitudin lectus elit, id aliquam ante aliquet vitae. Nam vitae ex nibh. Nulla id nisi vel felis tincidunt euismod. Vestibulum auctor urna odio, eget faucibus urna commodo non. Pellentesque id hendrerit nisi. Aliquam gravida non nisl a ornare. Donec iaculis, est ut luctus venenatis, lorem odio laoreet magna, vitae molestie est elit sed arcu. Vestibulum volutpat porta elit, a mattis ante dapibus quis. Morbi sed odio arcu. Ut odio felis, facilisis vel mollis in, euismod ultrices elit. Aliquam eget porttitor felis. Cras finibus mollis arcu ut sollicitudin. Nullam facilisis facilisis pharetra.</article>

        </article>
</li>

...
    
</ul>

<p id="loading">
	<img src="images/loading.gif" alt="Loading…" />
</p>

<script>
alert("kikou");
$(document).ready(function() {

        var win = $(window);
        
        // Each time the user scrolls
        win.scroll(function() {
            // End of the document reached?
            if ($(document).height() - win.height() == win.scrollTop()) {
			// $('#loading').show();
                alert("scroll");
			$.ajax({
				url: 'get-post.php',
				dataType: 'html',
				success: function(html) {
					$('#posts').append(html);
					$('#loading').hide();
				}
			});
		}
	});
});
</script>


<% include ../partial/footer.ejs%>